{% extends "./base.html" %}
{% load static %}
{% block title %}Liquor{% endblock %}
{% block content %}
<main>
  <section class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder section-header">Shop With Flair</h1>
            <p class="lead fw-normal text-white-50 mb-0">With these popular drinks</p>
        </div>
    </div>
  </section>
  
  <div class="container">
    
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.name|slice:":50" }}</a>
                  </p>
                  <div class="fw-bold">${{product.price}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}

<link rel="stylesheet" href="{% static 'core/css/base.css' %}">